.grid-container {
  display: inline-grid;
  grid-template-columns: repeat(9,auto);
  gap: 0;
  border: 1px solid black;

}
.grid-item{
  width: 8vh;
  height: 8vh;
  padding: 1vh;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid black;
}
.grid-item button {
  font-size: x-large;
}
.token{
  background-color: aqua;
}